<?xml version="1.0" ?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to suporte.developer@buscape-inc.com so we can send you a copy immediately.
 *
 * @category   Buscape
 * @package    Buscape_Navegg
 * @copyright  Copyright (c) 2010 Buscapé Company (http://www.buscapecompany.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->


<config>
    <tabs>
        <navegg translate="label" >
            <label>Navegg</label>
            <sort_order>100</sort_order>
        </navegg>
    </tabs> 
    <sections>
        <navegg_options translate="label" module="navegg">
            <label>Setup</label>
            <tab>navegg</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>                   

  	    <groups>
                <navegg translate="label">
                    <label>Navegg</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <comment>
                        <![CDATA[

<div style="background:#fafafa">

        <img src="http://www.navegg.com/wp-content/themes/navegg/i/logo.png" style="display:block;margin-bottom:10px">

        <div style="float:left;width:49%">      

                <h2 style="font-family:Arial;font-size:14px">Know your website&#39;s audience and deliver personalized content and ads, user by user</h2>

                <p style="font-family:Arial;font-size:12px">Based on user behavior in and out of your website, Navegg segments your audience, allowing personalized content and advertising offers. Make your website more attractive and increase clickthrough rates, driving revenue up.</p>

                <p style="font-family:Arial;font-size:12px">Online audience targeting with network intelligence With the Navegg technology, your website&#39;s audience is automatically classified into 9 smart segmentation criteria, such as demographic data, content interest, purchase intent and education. Always from the browsing behavior analysis, completely anonymous – that is, Navegg does not store data that may identify the users, such as e-mails or IPs.</p>

                <p style="font-family:Arial;font-size:12px">Control Panel: Regardless of how specific your website is, audience segmentation can bring great surprises about who accesses your page. To help you in these findings, all information about your visitors can be accessed through the new Navegg Control Panel.</p>

                

                <h2 style="font-family:Arial;font-size:14px;margin-top:40px">Your Navegg ID</h2>

                <p style="font-family:Arial;font-size:12px">Enter the Navegg ID it was send to your e-mail. Navegg&#39;s tag will be inserted on your website and your visitors, targeted.</p>

                <ul style="font-family:Arial;font-size:12px;font-weight:bold;list-style:none">

                        <li style="background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/ui_wp_nvg.png&#39;) no-repeat 3px -63px;width:200px;margin-bottom:8px;padding:2px 0 2px 22px">
                                <a href="http://www.navegg.com/en/client-area/documentation/implementing-naveggs-technology/" target="_blank"  style="color:#3880ae;text-decoration:none">How does Navegg ID works?</a>
                        </li>

                        <li style="background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/ui_wp_nvg.png&#39;) no-repeat left -289px;width:300px;margin-bottom:8px;padding:2px 0 2px 22px">
                                <a href="http://www.navegg.com/en/start-now/?utm_campaign=assine&utm_medium=naveggcom&utm_source=pluginMagento" target="_blank" style="color:#3880ae;text-decoration:none">Don&#39;t you have a Navegg ID? <span style="color:#60a51b">Sign up now!</span></a>
                        </li>

                </ul>

        </div>

        <div style="float:right;width:48%">

                <div style="height:215px;background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/magento-blocos-links.png&#39;) no-repeat 175px 0">

                <h2 style="font-family:Arial;font-size:14px">Links</h2>

                <ul style="font-family:Arial;font-size:12px;font-weight:bold;list-style:none">

                        <li style="background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/ui_wp_nvg.png&#39;) no-repeat 1px -17px;width:200px;margin-bottom:8px;padding:2px 0 2px 22px">
                                <a href="http://www.navegg.com/en/client-area/documentation/" target="_blank"  style="color:#3880ae;text-decoration:none">Documentation</a>
                        </li>

                        <li style="background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/ui_wp_nvg.png&#39;) no-repeat 3px -63px;width:200px;margin-bottom:8px;padding:2px 0 2px 22px">
                                <a href="http://www.navegg.com/en/solution/faq/" target="_blank" style="color:#3880ae;text-decoration:none">FAQ</a>
                        </li>

                        <li style="background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/ui_wp_nvg.png&#39;) no-repeat 1px -108px;width:200px;margin-bottom:8px;padding:2px 0 2px 22px">
                                <a href="http://www.navegg.com/en/solution/" target="_blank" style="color:#3880ae;text-decoration:none">Solutions</a>
                        </li>

                        <li style="background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/ui_wp_nvg.png&#39;) no-repeat left -153px;width:200px;margin-bottom:8px;padding:2px 0 2px 22px">
                                <a href="http://www.navegg.com/en/start-now/?utm_campaign=assine&utm_medium=naveggcom&utm_source=pluginMagento" target="_blank" style="color:#3880ae;text-decoration:none">Plans and Pricing</a>
                        </li>

                        <li style="background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/ui_wp_nvg.png&#39;) no-repeat left -243px;width:200px;margin-bottom:8px;padding:2px 0 2px 22px">
                                <a href="http://www.navegg.com/en/about-navegg/contact/" target="_blank" style="color:#3880ae;text-decoration:none">Contact</a>
                        </li>

                </ul>

                </div>

                <div style="margin-top:40px;height:60px;padding-top:9px;background:url(&#39;http://www.navegg.com/wp-content/themes/navegg/i/magento-painel.png&#39;) no-repeat left top">

                        <p style="font-family:Arial;font-size:12px;margin-left:180px">
                                <a href="http://navegg.com/panel" target="_blank" style="font-weight:bold;color:#60a51b;text-decoration:none">Click here</a> to access your Control Panel and check our reports abour your audience.
                        </p>

                </div>

		<p style="font-family:Arial;font-size:12px; text-align:right; margin-top:40px;">Developed by <a href="http://www.buscapecompany.com/" target="_blank" style="color:#3880ae;text-decoration:none;font-weight:bold;" >Buscapé Company</a></p>
        </div>

</div>


                        ]]>
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <advertising translate="label">
                            <label>Navegg ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
			    <validate>validate-number required-entry</validate>
                        </advertising>

                    </fields>               
                </navegg>
            </groups>
 
        </navegg_options>
    </sections>     
</config>
